.furniture-page {
    display: grid;
    grid: repeat(4, auto) / auto 80% auto;
}

.breadcrumb{
    padding: 0;
    grid-row: 1;
}

.breadcrumb li {
    display: inline;
    font-size: 1.2rem;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: brown;
}

.breadcrumb li+li:before {
    color: black;
    content: "/ ";
}

#furniture-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#furniture-description {
    padding: 2% 4%;
}

#furniture-parameters {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: papayawhip;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.furniture-parameters-column {
    margin-left: 5%;
    padding: 3rem 0;
    text-align: left;
    width: 30%;
}

.furniture-parameters-column th {
    padding-right: 5rem;
}

.furniture-parameters-column ul {
    display: inline-block;
}

#furniture-recommendation {
    background-color: lightyellow;
}

#furniture-recommendation-products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;
}

#furniture-recommendation-products article {
    border: 1px solid black;
}

#furniture-recommendation-title {
    text-align: center;
}

#furniture-recommendation article {
    width: 20%;
}

#furniture-recommendation img {
    width: 100%;
}

#preview {
    box-sizing: border-box;
    width: 50%;
    margin: 1rem;
    box-shadow: 10px 10px 35px -5px gray;
}

.description {
    margin-bottom: 4rem;
}


#stock-amount {
    color: green;
    font-size: 1.3rem;
}

#furniture-price {
    display: inline-block;
}

#furniture-price-dph {
    font-size: 1.8rem;
    font-weight: bold;
}

#add-to-cart {
    float: right;
    width: 40%;
    max-width: 250px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2rem 0;
    height: 2.5rem;
    margin-top: 2.5rem;
    margin-right: 10%;
}