.banner {
    width: 100%;
}

.featured {
    display: grid;
    grid: repeat(2, 450px) / auto 80% auto;
}

.discounts {
    grid-column: 2;
    display: grid;
    grid: 1fr / repeat(2, 1fr);
    place-items: center;
    background-color: papayawhip;
}

.promises {
    grid-column: 2;
    display: grid;
    grid: 120px 1fr / repeat(4, 1fr);
    align-items: start;
    justify-items: center;
    text-align: center;
    background-color: lightyellow;   
}

.promises-heading {
    margin: 3rem 0;
    grid-column: span 4;
}

.shield {
    width: 10rem;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: antiquewhite;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 0 0 50% 50%;
    box-shadow: 5px 8px 16px #ccc;
    background: rgb(181, 111, 13);
    background: linear-gradient(
          0deg, 
          rgba(181, 111, 13, 1) 0%, 
          rgba(215,151,20,1) 43%
    );
}

.placeholder-discount {
    width: 65%;
    /* height: 400px; */
}

@media (max-width: 992px) {
    .featured {
        display: block;
    }

    .promises {
        grid-column: 1;
        grid: 120px repeat(2, 1fr) / repeat(2, 1fr);
        align-items: start;
        justify-items: center;
        padding: 3rem 0;
    }

    .discounts {
        grid-column: 1;
    }

    .promises-heading {
        grid-column: span 2;
    }
    
}

@media (max-width: 768px) {
    .discounts {
        grid: repeat(2, 1fr) / 1fr;
        place-items: center;
        grid-row-gap: 2rem;
        padding: 3rem 0;
    }

    .promises {
        grid-column: 1;
        grid: 120px repeat(4, 1fr) / 1fr;
        align-items: start;
        justify-items: center;
    }

    .promises-heading {
        grid-column: 1;
    }
}

