.order-page {
    display: grid;
    grid: repeat(3, auto) / 10% 3fr 1fr 10%;
}

.order-page h1 {
    grid-column: 2 / span 2;
}

#order-form {
    grid-column: 2;
}

#order-summary {
    grid-column: 3;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.tabs {
    box-shadow: none;
}

.tab-label {
    display: grid;
    grid: auto / 6rem 1fr 2rem;
    font-size: 1.3rem;
    grid-column-gap: 1rem;
}

.tab-label emph {
    background-color: darkorange;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 30%;
}