.login-page {
    width: 50%;
    max-width: 750px;
    color: #333;
}

.registration-form {
    height: 25rem;
    font-size: 1rem;
    padding: 5% 10%;
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: inherit;
}

.registration-form form {
    display: grid;
    height: 80%;
    grid: repeat(5, 1fr) / 20% 80%;
    grid-column-gap: 0.5rem;
    align-items: center;
}

#subtitle {
    grid-column: span 2;
}

.registration-form button {
    grid-column: 2;
    width: 40%;
    justify-self: end;
}

.registration-form input {
    height: 50%;
}
