.order-page {
    display: grid;
    grid: repeat(2, auto) / 10% 4fr 10%;
    margin-bottom: 5rem;
}

.order-page h1 {
    grid-column: 2 / span 2;
}

#order-form {
    grid-column: 2;
    /* width: 90%; */
}

#order-summary {
    grid-column: 3;
    display: grid;
    grid: repeat(3, 1fr) 8rem / 1fr;
    justify-content: end; 
    padding-left: 2rem;
}

.divider {
    border-left: 1px solid black;
}

.product {
    height: 280px;
}

.cart-price-content {
    width: 100%;
    /* height: 50%; */
    max-width: 500px;
    border-radius: 5px;
    padding: 1rem 0;
    text-align: right;
    background-color: papayawhip;
    justify-self: end;
    align-self: center;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.tabs {
    box-shadow: none;
}

.tab-label {
    display: grid;
    grid: auto / 6rem 1fr 2rem;
    font-size: 1.3rem;
    grid-column-gap: 1rem;
}

.tab-label emph {
    background-color: darkorange;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 30%;
}

.payment-button {
    grid-column: 2;
    width: 90%;
    max-width: 400px;
    max-height: 4rem;
    border-radius: 5px;
    padding: 1.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
    color: white;
    background-color: orange;
    border: none;
    justify-self: end;
}

.payment-button:hover {
    background-color: darkorange;
}

.payment-button:after {
    content: '>';
    padding-left: 1rem;
}

.align-right {
    display: grid;
    grid: 1fr / repeat(2, 1fr);
}

.transport-form {
    display: grid;
    grid: repeat(5, auto) / repeat(2, 2rem) 3fr 1fr;
    grid-row-gap: 2rem;
    align-items: center;
}


.transport-form .search-bar {
    grid-column: 1 / span 3;
    width: 60%;
}

.transport-form .outpost {
    grid-row: 4;
    grid-column: 1 / span 3;
    overflow-y: scroll;
    height: 180px;
    border: 1px solid black;
    padding: 2rem 1rem;
    background-color: white;
}

.transport-form .outpost table {
    width: 100%;
}

.transport-form .outpost .table-data-chooser {
    width: 30%;
}

/* .transport-form .selected-outpost {
    grid-row: 5;
    grid-column: 2 / span 2;
} */

.outpost-chooser {
    width: 60%;
    display: grid;
    grid: auto / 1fr 2fr;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem 0;
    background-color: rgb(255, 213, 136);
    margin-left: 50px;
}



.payment-form {
    display: grid;
    align-items: center;
    grid: repeat(3, auto) / repeat(2, 3rem) 3fr 1fr;
    grid-row-gap: 2rem;
}

.order-button {
    padding: 1rem 0;
    max-width: 400px;
    width: 80%;
    justify-items: center;
}

.transport-form .payment {
    grid-row: 5;
    grid-column: 4;
}

.next-step {
    grid-column: 4;
}

.order-button::after {
    content: '\2304';
    vertical-align: super;
    margin-left: 1rem;
}

#order-company-detail, #order-personal-detail {
    display: grid;
    grid-row-gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

#order-company-detail label, #order-personal-detail label {
    grid-column: 2;
}

#order-company-detail input, #order-personal-detail input {
    grid-column: 3;
    height: 2rem;
}

#order-subject-type {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}


#order-company-detail {
    grid: repeat(4, auto) / 10% 10rem 1fr 10%;
    margin-bottom: 2rem;
}

#order-personal-detail {
    grid: repeat(6, auto) / 10% 10rem 1fr 10%;
}

@media (max-width: 1200px) {
    #order-company-detail label, #order-personal-detail label {
        grid-column: 1;
    }
    
    #order-company-detail input, #order-personal-detail input {
        grid-column: 2;
    }

    #order-company-detail {
        grid: repeat(4, auto) / 20% 1fr;
    }
    
    #order-personal-detail {
        grid: repeat(6, auto) / 20% 1fr;
    }
}

@media (max-width: 992px) {
    .product {
        height: 300px;
    }

    .order-page {
        display: grid;
        grid: repeat(3, auto) / 1fr;
        margin-bottom: 5rem;
    }

    .order-page h1 {
        grid-column: 1;
        padding-left: 1rem;
    }

    #order-summary{
        grid-column: 1;
        grid-row: 2;
        /* display: grid;
        grid: repeat(2, auto) / repeat(3, 1fr); */
        padding-left: 0;
        margin-bottom: 1rem;
    }

    .cart-price-content {
        grid-row: 2;
        grid-column: 3;
        margin-top: 0.5rem;
    }

    #order-form {
        grid-column: 1;
        width: 100%;
    }

    .divider {
        border-left: none;
    }

    .transport-form {
        display: grid;
        grid: repeat(6, auto) / repeat(2, 2rem) 2fr 1fr;
        grid-row-gap: 2rem;
        align-items: center;
    }

    .transport-form .search-bar {
        grid-column: 1 / span 4;
        width: 100%;
    }

    .transport-form .outpost {
        grid-row: 4;
        grid-column: 1 / span 4;
        /* width: 100%; */
    }

    .transport-form .selected-outpost {
        grid-row: 5;
        grid-column: 1 / span 4;
    }  

    .order-button {
        width: 100%;
        max-width: none;
    }
    
    .transport-form .payment {
        grid-row: 6;
        grid-column: 1 / span 4;
        /* padding: 1rem 0;
        max-width: 400px; */
        /* width: 100%; */
        justify-items: center;
    }

    .next-step {
        grid-column: 1 / span 4;
    }
}

@media (max-width: 540px) {
    .cart-price-content {
        grid-column: 2 / span 2;
        margin-top: 0.5rem;
    }

    #order-company-detail label, 
    #order-personal-detail label,
    #order-company-detail input, 
    #order-personal-detail input {
        grid-column: 1;
    }

    #order-company-detail {
        grid: repeat(8, auto) / 1fr;
    }
    
    #order-personal-detail {
        grid: repeat(12, auto) / 1fr;
    }
}