body, html {
    height: 100%;
    display: grid;
    padding: 0;
    margin: 0;
}

header a:first-child {
    grid-column: 2;
}

header {
    display: grid;
    grid-template-columns: 10% 1fr 40% 1fr 1fr 10%;
    background-color: saddlebrown;
    color: white;
    padding: 1rem;
    grid-column-gap: 1rem;
}

@media (max-width: 980px) {
    header a:first-child {
        grid-column: 1;
    }
    
    header {
        grid: repeat(3, auto) / 1fr;
        justify-items: center;
        align-items: start;
        grid-row-gap: 1rem;
    }
}

footer {
    width: 100%;
    height: 3rem;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: saddlebrown;
    color: white;
}

.btn {
    display: block;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0;
    height: 50%;
}


.button-login:hover {
    background-color: orange;
    cursor: pointer;
}

.logo {
    max-width: 150px;
}

.login-form-field {
    grid-column: span 2;
}

.button {
    grid-template-columns: auto;
}

.admin-product-button {
    display: grid;
    grid: auto / 2rem auto;
    align-items: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    max-width: 400px;
    width: 50%;
    height: 70%;
    justify-self: end;
    align-self: center;
    text-align: center;
}
